* {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: var(--font-size);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}