* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  font-size: var(--font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}