:root {
  --font-size: 16px;

  --text-color: white;
  --modal-text-color: #515050;
  --purple: #68209F;
  --strawberry: #F23557;
  --navy-blue: #263A48;
  --space-blue: #202939;
  --yale-blue: #09506B;
  --sapphire-blue: #0C5A78;
  --denim-blue: #0C2233;
  --aegan-blue: #2D465A;
  --grey: #555F67;

  /* hover colors */
  --purple-hover: rgb(83, 22, 129);
  --navy-blue-hover: rgb(27, 41, 51);
  --strawberry-hover: rgb(202, 38, 68);
}